<div class="flex h-screen not-scrollable">
  <!-- Sidebar -->
  <div class="w-[44px] bg-gray-100 flex flex-col">
    <!-- Contenedor de botones -->
    <div class="flex flex-col items-center justify-center h-screen space-y-4 p-2 border-b">
      <button (click)="setActiveSection(1)"
              class="flex items-center justify-center p-1 {{ activeSection == 1 ? 'bg-blue-600 text-white' : 'border-2 text-black' }} rounded-lg text-xs">
        <span class="material-symbols-outlined">road</span>
      </button>
      <button (click)="setActiveSection(2)"
              class="flex items-center justify-center p-1 {{ activeSection == 2 ? 'bg-blue-600 text-white' : 'border-2 text-black  ' }} rounded-lg text-xs">
        <span class="material-symbols-outlined">directions_bus</span>
      </button>
      <button (click)="setActiveSection(3)"
              class="flex items-center justify-center p-1 {{ activeSection == 3 ? 'bg-blue-600 text-white' : 'border-2 text-black' }} rounded-lg text-xs">
        <span class="material-symbols-outlined">explore_nearby</span>
      </button>
    </div>
  </div>
  <!-- Contenido dinámico -->
  <div class="flex-grow pl-4 pr-2">
    <app-channels [hidden]="activeSection !== 1" (closingSidebar)="closingSidebar.emit()"
                  (selectedOptionChange)="changeChannelsRoutesHandler($event)"/>
    <app-lines [hidden]="activeSection !== 2" [linesNames]="linesNames" [result]="linesNames"
               (lineSelected)="_onLineSelected($event)"/>
    <app-nearby-lines [hidden]="activeSection !== 3"/>
  </div>
</div>
