<div class="flex h-screen not-scrollable">
  <!-- Sidebar -->
  <div class="w-[44px] bg-gray-100 flex flex-col">
    <!-- Contenedor de botones -->
    <div class="flex flex-col items-center justify-center h-screen space-y-4 p-2 border-b">
      <button (click)="setActiveSection(1)"
              class="flex items-center justify-center p-1 {{ activeSection == 1 ? 'bg-blue-600 text-white' : 'border-2 text-black' }} rounded-lg text-xs">
        <span class="material-symbols-outlined">road</span>
      </button>
      <button (click)="setActiveSection(2)"
              class="flex items-center justify-center p-1 {{ activeSection == 2 ? 'bg-blue-600 text-white' : 'border-2 text-black  ' }} rounded-lg text-xs">
        <span class="material-symbols-outlined">directions_bus</span>
      </button>
      <button (click)="setActiveSection(3)"
              class="flex items-center justify-center p-1 {{ activeSection == 3 ? 'bg-blue-600 text-white' : 'border-2 text-black' }} rounded-lg text-xs">
        <span class="material-symbols-outlined">route</span>
      </button>
    </div>
  </div>
  <!-- Contenido dinámico -->
  <div class="flex-grow pl-4 pr-2 overflow-y-auto">
    @if (activeSection === 1) {
      <app-channels (closingSidebar)="closingSidebar.emit()"
                    (selectedOptionChange)="changeChannelsRoutesHandler($event)"/>
    } @else if (activeSection === 2) {
      <app-lines [linesNames]="linesNames" [result]="linesNames" (lineSelected)="_onLineSelected($event)"/>
    } @else if (activeSection === 3) {
    }
  </div>
</div>
